.headerContainer {
    display: flex;
    position: absolute;
    top: 0px;
    width: 100vw;
    box-sizing: border-box;
    padding: 50px 75px 0 75px;
}

.padding-main-page {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 25px;
}

.field {
    cursor: pointer;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    display: flex;  

    &:hover {
        background-color: #ECEEFE;

    }
}

.searchResults {
    position: relative;
    width: fit-content;
    min-width: 100px;
    height: fit-content;
    left: 100px;
    margin-left: 100px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid grey;
    padding: 10px;
    z-index: 4;
    
    img {
        position: unset!important;
        width:30px;
        height:30px;
    }
    
}

.space-betw {
    justify-content: space-between;
}

.logoContainer {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 16px;

}

.searchInput {
    position: relative;
    // width: 50%; //Hier m
    margin-left: 50px;

    input {
        width: 100%;
        height: 100%;
        padding: 18px 45px;
        box-sizing: border-box;
        border-radius: 40px;
        border: none;
        color: #686868;
        font-size: 24px;

        &:focus-visible {
            outline: none;
        }
    }

    img {
        cursor: pointer;
        position: absolute;
        right: 35px;
        top: 16px;
    }

    &:focus-within {
        img {
            content: url('/assets/icons/search-focus.svg');
        }
    }
}

.loginHeaderRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}


.makeAccount {
    font-family: 'Figtree';
    size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #797EF3;
    text-decoration: none;
    padding: 10px;
}

// @media (min-width:470px) {
//     .headerContainer {
//         padding: 15px 16px;
//         padding-bottom: 0px;
//     }

//     .logoContainer {
//         img:nth-child(1) {
//             height: 45px;
//         }

//         img:nth-child(2) {
//             height: 20px;
//         }
//     }

//     .search-input {
//         display: none;
//     }
// }