<div class="headerContainer" [class.headerContainerMobilePadding]="sideMenuHidden"
    [class.padding-main-page]="router.url =='/'||router.url =='/imprint'||router.url =='/data-policy'||router.url =='/main'"
    [class.space-betw]="router.url=='/login'">

    <div class="logoContainer" *ngIf="showNormalHeader()">
        <img src="assets/img/logo.svg">
        <img src="assets/img/LogoName.svg">
    </div>

    <div class="openCloseSidenav" *ngIf="router.url=='/' && showNormalHeader()">
        <img class="open-sidenav" (click)="emitOpenSideMenu()" *ngIf="sideMenuHidden"
            src="assets/icons/open-sidenav.svg">
    </div>

    <div class="mobileHeader" *ngIf="showMobileHeader()">
        <img (click)="emitToggleSideMenu()" src="assets/img/arrow-back.svg">
        <img src="assets/img/workspace-logo.svg">
        <span>Code learning</span>
    </div>

    <div class="searchInput" *ngIf="router.url=='/'||router.url=='/main'">
        <input (ngModelChange)="searchKey($event)" [(ngModel)]="text" type="text"
            placeholder="Code learning durchsuchen" ngModel>
        <img src="assets/icons/search.svg">
    </div>
    <div #searchResults class="searchResults" *ngIf="showPop()">
        <div *ngFor="let threadTitles of threadTitleDec" class="field" (click)="callOpenChan(threadTitles.index)">
            <span class="nunitoBlack" style="display: flex;gap:10px;align-items: center;"><img
                    src="assets/icons/workspaces.svg"> {{threadTitles.name}}</span>
            <span class="nunitoBlack fs14">{{threadTitles.decription}}...</span>
        </div>
        <div *ngFor="let uInfo of userInfos" class="field" (click)="callOpenT(uInfo)">
            <div style="display: flex; position: relative;gap:20px;align-items: center;">
                <img src="{{uInfo.iconPath}}">
                <span class="nunitoBlack"> {{uInfo.name}}</span>
            </div>
        </div>
        <div *ngFor="let tMess of threadMessages" class="field" (click)="callOpenChan(tMess.num)">
            <div style="display: flex; flex-direction: column; position: relative;gap:5px;">
                <span class="nunitoBlack">#{{tMess.chanName}}</span>
                <span class="nunitoBlack fs18">{{tMess.name}}</span>
                <span> {{chathelper.makeSubstring(tMess.message,20)}}.... </span>
                <span>{{tMess.time}} Uhr am {{getdate(tMess)}}</span>
            </div>
        </div>
        <div *ngFor="let talkMess of talkMessages" class="field" (click)="callOpenT(getOtherUser(talkMess))">
            <div style="display: flex; flex-direction: column; position: relative;gap:5px;">
                <span class="nunitoBlack">{{talkMess.nameMem1}} & {{talkMess.nameMem2}}</span>
                <span> {{chathelper.makeSubstring(talkMess.message,20)}}.... </span>
                <span>{{talkMess.time}} Uhr am {{getdateTalk(talkMess)}}</span>
            </div>
        </div>
    </div>

    <div [class.dNone]="router.url !='/login'" class="loginHeaderRight">
        <div class="nunito fs18">Neu bei DABubble?</div>
        <a routerLink="/signup" class="makeAccount">Konto erstellen</a>
    </div>

</div>