<div class="logoContainer">
    <img src="assets/img/logo.svg">
    <img src="assets/img/LogoName.svg">
</div>

<div class="logInDialog">
    <a routerLink="/login"><img class="arrowBack" src="assets/img/arrow-back.svg"></a>
    <h1 class="nunito headline">Wähle deinen Avatar</h1>
    <div [class.pad0]="!padding" class="profile">
        <img class="profileImg" src="{{portraitPath}}">
    </div>
    <div class="name">{{user.name}}</div>
    <div class="chooseList">Aus der Liste wählen</div>
    <div class="icons">
        <div>
            <img class="imgIcon" (click)="setPortraitPath('assets/img/ch1.svg')" src="assets/img/ch1.svg">
            <img class="imgIcon" (click)="setPortraitPath('assets/img/ch2.svg')" src="assets/img/ch2.svg">
            <img class="imgIcon" (click)="setPortraitPath('assets/img/ch3.svg')" src="assets/img/ch3.svg">
        </div>
        <div>
            <img class="imgIcon" (click)="setPortraitPath('assets/img/ch4.svg')" src="assets/img/ch4.svg">
            <img class="imgIcon" (click)="setPortraitPath('assets/img/ch5.svg')" src="assets/img/ch5.svg">
            <img class="imgIcon" (click)="setPortraitPath('assets/img/ch6.svg')" src="assets/img/ch6.svg">
        </div>
    </div>
    <div class="chooseList">eigenes Bild verwenden
        <input type="file" id="img" style="display:none;" (change)="onSelect($event)">
        <label for="img" class="btn upload">Foto hochladen</label>
    </div>

    <div class="weiterContainer">
        <button (click)="register()" [disabled]="wait" class="btn weiter">Weiter</button>
    </div>
    <div [class.dNone]="hide" [class.moveUp]="move" class="popUp3">Konto erfolgreich erstellt!</div>
</div>
<div class="impData">
    <div>
        <a routerLink="/imprint" target="_blank">Impressum</a>
    </div>

    <div>
        <a routerLink="/datenschutz" target="_blank">Datenschutz</a>
    </div>
</div>