.logInDialog {
    width: 606px;
    height: 740px;
    position: absolute;
    left: calc(50% - 303px);
    top: calc(50% - 370px);
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;
    box-sizing: border-box;
}

.headder {
    width: 100vw;
    position: relative;
}

h1 {
    color: var(--Purple-1, #444DF2);
    text-align: center;
    /* Bold Display */
    font-family: Nunito;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.weiterContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logoContainer {
    position: absolute;
    display: flex;
    left: 50px;
    top: 10px;
}


.profile {
    background-color: #797EF3;
    border-radius: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.name {
    color: #000;

    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.chooseList {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.icons {
    display: flex;
}

.upload {
    color: #444DF2;
    background-color: white;
    border: 1px solid;
    margin-left: 30px;

}

.profileImg {
    width: 150px;
    height: 150px;
}

.pad0 {
    padding: 0 !important;

    .profileImg {
        width: 180px;
        height: 180px;
    }
}

.imgIcon {
    cursor: pointer;
}

.popUp3 {
    color: var(--White, #FFF);
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #444DF2;
    padding: 50px;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    width: 440px;
    transform: translateY(-100px);
    animation: transform;
}

.moveUp {
    animation-name: move;
    animation-duration: 1s;
    transform: translateY(-400px);
}

@keyframes move {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(-400px);
    }
}

@media screen and (max-width:650px) {
    .logInDialog {
        width: 398px;
        height: fit-content;
        left: calc(50% - 198px);
        top: calc(50% - 225px);
        padding: 26px 21px 26px 21px;
        gap: 20px;
    }
    .headder {
        height: 800px;
    }
    .headline {
        font-size: 32px;
    }

    .icons {
        gap: 4px;
    }

    .imgIcon {
        width: 45px;
        height: 45px;
    }

    .logoContainer {
        position: absolute;
        width: 200px;
        left: calc(50% - 100px);
        top: 80px;
    }


    .chooseList {
        display: none;
    }

    .chooseListSmall {
        color: #000;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }
}




@media screen and (min-width:650px) {

 
    .chooseListSmall {
        display: none;
    }
}

@media screen and (max-width:650px) {
    .popUp3 {       
        font-size: 18px;       
        padding: 20px;        
        width: fit-content;       
    }
    }

@media screen and (max-width:400px) {
    .logInDialog {
        width: 320px;
        height: fit-content;
        left: calc(50% - 160px);
        top: calc(50% - 225px);
        padding: 20px 10px 20px 10px;
        gap: 20px;
    }

}

