.dialogDiv {
    width: 415px;
    padding: 40px;
}

.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    img {
        cursor: pointer;

        &:hover {
            content: url('/angular-projects/dabubble/assets/img/close-hover.svg');
        }
    }
}

.members {
    gap: 13px;
}

.addMembers {
    cursor: pointer;
    transition: all 225ms ease-in;
    width: 282px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 12px 29px;
    gap: 10px;

    &:hover {
        background-color: #ECEEFE;
        color: #7e83f5;

        img {
            content: url('/angular-projects/dabubble/assets/icons/add-people-hover.svg');
        }
    }
}

.contactDiv {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: all 225ms ease-in-out;
    margin: 10px 0px;

    img {
        object-fit: cover;
        width: 50px;
        height: 50px;
        margin-left: 15px;
        margin-right: 10px;
        border-radius: 50%;
    }

    span {
        font-size: 18px;
    }

    &:hover {
        background-color: #eceefe;
    }

    &:active {
        span {
            transition: all 225ms ease-in-out;
            color: #7e83f5;
            font-weight: 700;
        }
    }
}

.stateDot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    background-color: #ADB0D9;
    right: 15px;
    bottom: 7px;
    border: 2px white solid;
}

.greenDot {
    background-color: #92C83E;
}

@media (max-width:830px) {
    .dialogDiv {
        width: auto;
        padding: 20px 16px;
    }
}

@media (max-width:400px) {

    .dialogHeader {
        margin-bottom: 0px;
    }

    .members {
        display: flex;
        flex-direction: column;
        gap: 0px;
        max-height: 75vh;
        overflow-y: auto;
    }

    .addMembers {
        width: 100%;
        padding: 9px 0px;
        gap: 10px;
    }

    .contactDiv {
        margin: 4px 0px;
        gap: 8px;
        padding-right: 7px;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            margin: 0px;
            width: 40px;
            height: 40px;
        }

        span {
            font-size: 15px;
        }
    }

    .stateDot {
        width: 7px;
        height: 7px;
        right: -2px;
        bottom: 1px;
        ;
    }
}