<div class="dialogDiv">
    <div class="dialogHeader">
        <span class="nunito fs24 wei700">Mitglieder</span>
        <img mat-dialog-close src="assets/img/close.svg">
    </div>
    <div class="members">

        <div class="contactDiv">
            <div style="position: relative;">
                <img src="{{getIcon(user.idDB)}}">
                <div [class.greenDot]="user.getAktive()" class="stateDot"></div>
            </div>
            <span>{{user.name}} (Du)</span>
        </div>

        <div *ngFor="let u of channel.members" class="contactDiv">
            <div style="position: relative;" *ngIf="!isMe(u)">
                <img src="{{getIcon(u.memberID)}}">
                <div [class.greenDot]="getAktive(u)" class="stateDot"></div>
            </div>
            <span *ngIf="!isMe(u)">{{u.memberName}}</span>
        </div>

    </div>
    <div class="addMembers" (click)="addMembersAction()">
        <img src="assets/icons/add-people.svg">
        <span class="fs18">Mitglieder hinzufügen</span>
    </div>
</div>