<mat-drawer-container class="example-container mat-drawer-div" [class.margin-right]="this.drawer.opened==true">
    <mat-drawer #drawer class="example-sidenav sidenav" mode="side" position="end" opened>
        <div class="sidenav-header">
            <div>
                <span class="sidenav-headline">Thread</span>
                <img class="tag-icon" src="assets/icons/tag-hover.svg">
                <span class="thread-name">Entwicklerteam</span>
            </div>
            <img (click)="closeThread()" class="close-icon" src="assets/img/close.svg">
        </div>

        <div class="sidenav-body">

            <div class="thread-starter">
                <!--Hier wird die Thread-starter Nachricht reingerendert-->

                <div class="message-div">
                    <div class="add-reaction">
                        <img src="assets/icons/add-reaction.svg">
                    </div>
                    <img src="assets/img/ch4.svg">
                    <div class="message-inner-div">
                        <div class="mes-name-clock">
                            <span class="mes-name">Noah Braun</span>
                            <span>14:25 Uhr</span>
                        </div>
                        <diV class="message">
                            Welche Version ist aktuell von Angular?
                        </diV>
                    </div>
                </div>

                <div class="answer-counter-div">
                    <span class="answer-counter">2 Antworten</span>
                </div>

            </div>

            <div class="answers-div">
                <!--Hier werden die Antworten des Threads reingerendert-->
                <div class="message-div">
                    <div class="add-reaction">
                        <img src="assets/icons/add-reaction.svg">
                    </div>
                    <img class="char-img" src="assets/img/ch5.svg">
                    <div class="message-inner-div">
                        <div class="mes-name-clock">
                            <span class="mes-name">Sofia Müller</span>
                            <span>14:30 Uhr</span>
                        </div>
                        <diV class="message">
                            Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint,
                            dass die aktuelle Version Angular 13 ist. Vielleicht weiß Frederik, ob es wahr ist.
                        </diV>
                        <diV class="reactions">

                            <div class="reaction-emoji-counter">

                                <div class="reactions-tooltip">
                                    <img src="assets/icons/emoji-nerd.svg">
                                    <div class="reactions-username">
                                        <span>Sofia Müller</span>
                                        <span>und Du</span>
                                    </div>
                                    <span>hat reagiert</span>
                                </div>
                                <img src="assets/icons/emoji-nerd.svg">
                                <span>1</span>
                            </div>
                            <img class="add-reaction-icon" src="assets/icons/add-reaction.svg">
                        </diV>
                    </div>
                </div>

                <div class="message-div">
                    <div class="add-reaction">
                        <img src="assets/icons/add-reaction.svg">
                    </div>
                    <img src="assets/img/ch5.svg">
                    <div class="message-inner-div">
                        <div class="mes-name-clock">
                            <span class="mes-name">Sofia Müller</span>
                            <span>14:30 Uhr</span>
                        </div>
                        <diV class="message">
                            Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint,
                            dass die aktuelle Version Angular 13 ist. Vielleicht weiß Frederik, ob es wahr ist.
                        </diV>
                        <diV class="reactions">

                            <div class="reaction-emoji-counter">

                                <div class="reactions-tooltip">
                                    <img src="assets/icons/emoji-nerd.svg">
                                    <div class="reactions-username">
                                        <span>Sofia Müller</span>
                                        <span>und Du</span>
                                    </div>
                                    <span>hat reagiert</span>
                                </div>
                                <img src="assets/icons/emoji-nerd.svg">
                                <span>1</span>
                            </div>
                            <img class="add-reaction-icon" src="assets/icons/add-reaction.svg">
                        </diV>
                    </div>
                </div>


                <div class="message-div">
                    <div class="add-reaction">
                        <img src="assets/icons/add-reaction.svg">
                    </div>
                    <img src="assets/img/ch5.svg">
                    <div class="message-inner-div">
                        <div class="mes-name-clock">
                            <span class="mes-name">Sofia Müller</span>
                            <span>14:30 Uhr</span>
                        </div>
                        <diV class="message">
                            Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint,
                            dass die aktuelle Version Angular 13 ist. Vielleicht weiß Frederik, ob es wahr ist.
                        </diV>
                        <diV class="reactions">

                            <div class="reaction-emoji-counter">

                                <div class="reactions-tooltip">
                                    <img src="assets/icons/emoji-nerd.svg">
                                    <div class="reactions-username">
                                        <span>Sofia Müller</span>
                                        <span>und Du</span>
                                    </div>
                                    <span>hat reagiert</span>
                                </div>
                                <img src="assets/icons/emoji-nerd.svg">
                                <span>1</span>
                            </div>
                            <img class="add-reaction-icon" src="assets/icons/add-reaction.svg">
                        </diV>
                    </div>
                </div>

                <div class="message-div">
                    <div class="add-reaction">
                        <img src="assets/icons/add-reaction.svg">
                    </div>
                    <img src="assets/img/ch5.svg">
                    <div class="message-inner-div">
                        <div class="mes-name-clock">
                            <span class="mes-name">Sofia Müller</span>
                            <span>14:30 Uhr</span>
                        </div>
                        <diV class="message">
                            Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint,
                            dass die aktuelle Version Angular 13 ist. Vielleicht weiß Frederik, ob es wahr ist.
                        </diV>
                        <diV class="reactions">

                            <div class="reaction-emoji-counter">

                                <div class="reactions-tooltip">
                                    <img src="assets/icons/emoji-nerd.svg">
                                    <div class="reactions-username">
                                        <span>Sofia Müller</span>
                                        <span>und Du</span>
                                    </div>
                                    <span>hat reagiert</span>
                                </div>
                                <img src="assets/icons/emoji-nerd.svg">
                                <span>1</span>
                            </div>
                            <img class="add-reaction-icon" src="assets/icons/add-reaction.svg">
                        </diV>
                    </div>
                </div>

                <!--Nachricht die von rechts angezeigt wird. Klassen mit dem beinamen right, richten die Nachricht nach rechts aus.-->
                <div class="message-div message-div-right">
                    <img src="assets/img/ch3.svg">

                    <div class="message-inner-div message-inner-div-right">

                        <div class="mes-name-clock mes-name-clock-right">
                            <span class="mes-name mes-name-right">Frederik Beck</span>
                            <span>15:06 Uhr</span>
                        </div>

                        <diV class="message message-right">
                            Ja das ist es.
                        </diV>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="textfield-div">
            <textarea placeholder="Antworten..."></textarea>
        </div> -->
        <div class="textareaDirektMessage">
            <textarea class="textAreaDirekt" placeholder="Antworten..."></textarea>
            <img class="sendArrow" src="assets/img/sendArrow.svg">
            <div class="iconContainerTextArea">
                <img class="iconsTextArea" src="assets/img/add.svg">
                <div style="width:2px;background-color: #ADB0D9 ;"></div>
                <img class="iconsTextArea" src="assets/img/smile.svg">
                <img class="iconsTextArea" src="assets/img/alternate_email.svg">
            </div>
        </div>
    </mat-drawer>

    <!-- <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div> -->

</mat-drawer-container>