<mat-drawer-container class="example-container mat-drawer-div">
    <mat-drawer #drawer class="example-sidenav sidenav" mode="side" position="end" opened>
        <div class="sidenav-header">
            <div>
                <span class="sidenav-headline">Thread</span>
                <img class="tag-icon" src="assets/icons/tag-hover.svg">
                <span class="thread-name">Entwicklerteam</span>
            </div>
            <img class="close-icon" src="assets/img/close.svg">
        </div>

    </mat-drawer>

    <!-- <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div> -->

</mat-drawer-container>