<div class="logInDialog" [formGroup]="registerForm">
   <a routerLink="/"><img class="arrowBack" src="assets/img/arrow_back.svg"></a>
   <h1 class="nunito headline">Konto erstellen</h1>
   <p class="nunito loginDis">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

   <div class="input">
      <img src="assets/img/person_filled.svg">
      <input formControlName="name" type="text" placeholder="Name und Nachname">
   </div>
   <div class="input">
      <img src="assets/img/mail.svg">
      <input formControlName="email" placeholder="beispielname@email.com">
   </div>
   <div class="input">
      <img src="assets/img/lock.svg">
      <input formControlName="password" [type]="hide ? 'password' :'text'" placeholder="Password">
   </div>
   <div style="width:100%; display:flex;justify-self: start;padding-left: 20px;">
      <label for="privacyAgreement" class="discription"> <input (click)="clickBox()" formControlName="data" type="checkbox"
            id="privacyAgreement"  />
         <span id="checkSpan">Ich stimme der <a routerLink="/data" style="color: #797EF3;cursor: pointer;"
               target="_blank">Datenschutzerklärung</a> zu.</span>
      </label>
   </div>
   <div class="weiterContainer">
      <button [disabled]="registerForm.invalid" (click)="register()" class="btn weiter">Weiter</button>
   </div>
</div>
<div class="impData">
   <a routerLink="/imprint" target="_blank">Impressum</a>
   <a href="">Datenschutz</a>
</div>