<div class="logoContainer">
   <img src="assets/img/logo.svg">
   <img class="logoTitle" src="assets/img/LogoName.svg">
</div>
<form class="logInDialog" [formGroup]="registerForm">
   <a routerLink="/login"><img class="arrowBack" src="assets/img/arrow-back.svg"></a>
   <h1 class="nunito headline">Konto erstellen</h1>
   <p class="nunito loginDis">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
   <div class="input">
      <img src="assets/img/person_filled.svg">
      <input formControlName="name" type="text" autocomplete="name" placeholder="Name und Nachname">
      <span *ngIf="this.registerForm.controls['name'].errors?.['pattern']">*Bitte Vor und Nachname eingeben.</span>
   </div>
   <div class="input">
      <img src="assets/img/mail.svg">
      <input formControlName="email" autocomplete="email" placeholder="beispielname@email.com">
      <span *ngIf="registerForm.controls['email'].errors?.['email']">*Diese E-Mail-Adresse ist leider ungültig.</span>
   </div>
   <div class="input">
      <img src="assets/img/lock.svg">
      <input formControlName="password" autocomplete="new-password" [type]="hide ? 'password' :'text'"
         placeholder="Password">
      <span *ngIf="registerForm.controls['password'].errors?.['minlength']">Das Passwort muss min. 6 Zeichen lang
         sein.</span>
   </div>
   <div style="width:100%; display:flex;justify-self: start;padding-left: 20px;">
      <label for="privacyAgreement" class="discription"> <input formControlName="data" type="checkbox"
            id="privacyAgreement" />
         <span id="checkSpan">Ich stimme der <a routerLink="/data" target="_blank">Datenschutzerklärung</a> zu.</span>
      </label>
   </div>
   <div class="weiterContainer">
      <button (click)="weiter()" [disabled]="registerForm.invalid" class="btn weiter disab">Weiter</button>
   </div>
</form>
<div class="impData">
   <div>
      <a routerLink="/imprint" target="_blank">Impressum</a>
   </div>
   <div>
      <a href="/data" target="_blank">Datenschutz</a>
   </div>
</div>