<div class="dialog-div ">

    <div class="dialog-header" *ngIf="fristPage||mobileScreenWidth()">
        <span class="nunito fs24 wei700">Channel erstellen</span>
        <img mat-dialog-close src="assets/img/close.svg">
    </div>
    <div *ngIf="fristPage||mobileScreenWidth()" class="explanation">Channels dienen deinem Team zur Kommunikation. Am
        besten sollten sie
        themenbezigen sein
        #marketing zum Beispiel.
    </div>

    <form *ngIf="fristPage||mobileScreenWidth()" (ngSubmit)="onSubmit()" #channelForm="ngForm">
        <div>
            <h2 class="fs18 wei700">Channel-Name</h2>
            <input name="channelName" class="input-field" [(ngModel)]="channelName"
                placeholder="#  z.B Kooperatinsprojekte" required>
        </div>

        <div>
            <div class="third-headline-div">
                <h2 class="fs18 wei700">Beschreibung</h2>
                <span>(optional)</span>
            </div>
            <input name="channelDescription" class="input-field" [(ngModel)]="channelDescription"
                placeholder="Dein Text hier">
        </div>

        <div class="create-btn-div">
            <button [disabled]="!channelForm.form.valid" type="submit" class="btn createBtn">Erstellen</button>
        </div>
    </form>


    <div class="dialog-div-add" *ngIf="!fristPage">
        <div class="dialog-header-add">
            <span class="nunito fs24 wei700">Leute hinzufügen</span>
            <img mat-dialog-close src="assets/img/close.svg">
        </div>

        <div class="checkbox-div">

            <label class="container">
                <input id="allMember" name="add-people" type="radio" (change)="setValue()" checked>
                <span class="checkmark"></span>
                <span class="fs18 nunito">Alle Mitglieder von <span style="color: #7e83f5;">Code learning</span>
                    hinzufügen</span>
            </label>

            <label class="container">
                <input name="add-people" type="radio" (change)="setValue()">
                <span class="checkmark"></span>
                <span class="fs18 nunito">Bestimmte Leute hinzfügen</span>
            </label>

        </div>
        <div style="position: relative;">
            <input [ngModel]="searchText" (ngModelChange)="searchKey($event)" placeholder="Find by name" ngModel
                *ngIf="isChecked" class="inputText" type="text" placeholder="Name eingeben">
            <div style="display: flex; gap:10px">
                <div class="addedMember" *ngFor="let cu of currentlyAddedUser">
                    <img style="width:20px;height:20px" src="{{cu.iconPath}}">
                    <div class="nunitoBlack fs14 wei400">{{cu.name}}</div>
                    <img style="width:20px;height:20px;cursor: pointer;" (click)="deleteUser(cu)"
                        src="assets/img/close.svg">
                </div>
            </div>
            <div *ngIf="isPopUpOpen()" class="popUp">
                <div class="row" (click)="addMember(e)" *ngFor="let e of filteredMembers">
                    <div class="portraitChannel">
                        <img src="{{e.iconPath}}">
                        <div class="dot" [class.green]="e.status=='aktiv'"></div>
                    </div>
                    <div class="nunitoBlack fs18 wei400">{{e.name}}</div>
                </div>
            </div>
        </div>

        <div class="create-btn-div">
            <button (click)="make()" class="btn">Erstellen</button>
        </div>
    </div>

</div>
<!-- <app-add-people-dialog class="add-people" [channel]="channel"></app-add-people-dialog> -->
<!-- <app-add-people-dialog class="add-people" [channel]="channel" [user]="user"
    [userList]="userList"></app-add-people-dialog> -->