<div class="dialog-div">

    <div>
        <h1>Channel erstellen</h1>

        <img mat-dialog-close src="assets/img/close.svg">

    </div>
    <div>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezigen sein
        <br>#marketing zum Beispiel
    </div>

    <div>
        <h2>Channel-Name</h2>
        <input>
    </div>

    <div>
        <diV>
            <h2>Beschreibung</h2>
            <span>(optional)</span>
        </diV>

        <input>
    </div>
    <div><button class="btn">Erstellen</button></div>
</div>