<div class="dialog-div">

    <div class="dialog-header">
        <span class="nunito fs24 wei700">Channel erstellen</span>
        <img mat-dialog-close src="assets/img/close.svg">
    </div>
    <div class="explanation">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezigen sein
        #marketing zum Beispiel.
    </div>

    <form (ngSubmit)="onSubmit()" #channelForm="ngForm">
        <div>
            <h2 class="fs18 wei700">Channel-Name</h2>
            <input name="channelName" class="input-field" [(ngModel)]="channelName"
                placeholder="#  z.B Kooperatinsprojekte" required>
        </div>

        <div>
            <div class="third-headline-div">
                <h2 class="fs18 wei700">Beschreibung</h2>
                <span>(optional)</span>
            </div>
            <input name="channelDescription" class="input-field" [(ngModel)]="channelDescription"
                placeholder="Dein Text hier">
        </div>

        <div class="create-btn-div">
            <button [disabled]="!channelForm.form.valid" mat-dialog-close type="submit" class="btn">Erstellen</button>
        </div>
    </form>
</div>