<div class="dialog-div">

    <div class="smallThickBorder" *ngIf="mobileFromBottom"></div>

    <div class="dialog-header">
        <span class="nunito fs24 wei700">Leute hinzufügen</span>
        <img mat-dialog-close src="assets/img/close.svg">
    </div>
    <div *ngIf="screenWidth>471" class="channelName">
        <img src="assets/icons/tag-hover.svg">
        <span>{{channel.name}}</span>
    </div>

    <div style="position: relative;">
        <input [ngModel]="searchText" (ngModelChange)="searchKey($event)" placeholder="Find by name" ngModel
            class="inputText" type="text" placeholder="Name eingeben">
        <span *ngIf="userInList" style="color:red">User bereits vorhanden</span>
        <div style="display: flex; gap:10px">
            <div class="addedMember" *ngFor="let cu of currentlyAddedUser">
                <img style="width:20px;height:20px" src="{{cu.iconPath}}">
                <div class="nunitoBlack fs14 wei400">{{cu.name}}</div>
                <img style="width:20px;height:20px;cursor: pointer;" (click)="deleteUser(cu)"
                    src="assets/img/close.svg">
            </div>
        </div>
        <div *ngIf="isPopUpOpen()" class="popUp">
            <div class="row" (click)="addMember(e)" *ngFor="let e of filteredMembers">
                <div class="portraitChannel">
                    <img style="width: 40px;" src="{{e.iconPath}}">
                    <div class="dot" [class.green]="e.status=='aktiv'"></div>
                </div>
                <div class="nunitoBlack fs18 wei400">{{e.name}}</div>
            </div>
        </div>
    </div>

    <div class="addBtnDiv">
        <!-- <button mat-dialog-close class="btn" (click)="make()" disabled>Hinzufügen</button> -->
        <button mat-dialog-close class="btn" (click)="make()">Hinzufügen</button>
    </div>
</div>