.dialog-div {
    width: 710px;
    padding: 40px;
    border-radius: 30px !important;
    border: 1px solid black;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    img {
        cursor: pointer;

        &:hover {
            content: url('/assets/img/close-hover.svg');
        }
    }
}

.checkbox-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;

    label {
        display: flex;
        align-items: center;
    }
}

.container {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    border-color: grey;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #444DF2;
}

.input-text {
    display: flex;
    width: 100%;
    margin-top: 25px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding: 15px 20px;
    box-sizing: border-box;
}

.create-btn-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}