.dialog-div {
    width: 515px;
    padding: 40px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    img {
        cursor: pointer;

        &:hover {
            content: url('/assets/img/close-hover.svg');
        }
    }
}

.channelName {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #797EF3;
    gap: 10px;
}

.inputText {
    display: flex;
    width: 100%;
    margin-top: 25px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding: 15px 20px;
    box-sizing: border-box;

    &:hover {
        border-color: #797EF3;
    }

    &:focus-visible {
        outline: 1px solid #535AF1;
    }
}

.addBtnDiv {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.addedMember {
    display: flex;
    gap: 5px;
    padding: 5px;
    border: 1px solid #cbcdec;
    border-radius: 10px;
}

.dot {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: gray;
    position: absolute;
    right: -4px;
    bottom: 8px;
    border: 1px solid white;
}

.green {
    background-color: #92C83E;
}

.row {

    display: flex;
    gap: 30px;
    align-items: center;

    &:hover {
        background-color: #cbcdec;
        border-radius: 30px;
        cursor: pointer;
    }

}

.popUp {
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 30px;
    border-top-left-radius: 0;
    padding: 30px;
    background-color: white;
}

.input-field {
    border: 1px solid #ADB0D9;
    width: 100%;
    padding: 18px 20px;
    box-sizing: border-box;
    border-radius: 40px;

    &:hover {
        border-color: #797EF3;
    }

    &:focus-visible {
        outline: 1px solid #535AF1;
    }
}

.third-headline-div {
    display: flex;
    align-items: center;

    h2 {
        margin-top: 16px;
        margin-right: 7px;
    }

    span {
        color: #686868;
    }
}

.add-people {
    display: none;
}

.smallThickBorder {
    border: 3px solid #D9D9D9;
    margin: 8px 41%;
    border-radius: 50px;
}

@media (max-width:830px) {
    .dialog-div {
        width: 92vw;
        padding: 30px 16px;
    }
}