<div class="dialog-div">
    <div class="dialog-header">
        <span class="nunito fs24 wei700">Leute hinzufügen</span>
        <img mat-dialog-close src="assets/img/close.svg">
    </div>

    <div class="checkbox-div">
        <div>
            <input type="checkbox">
            <span>Alle Mitglieder von OfficeTeam hinzufügen</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Bestimmte Leute hinzfügen</span>
        </div>
    </div>
    <div class="create-btn-div">
        <button mat-dialog-close class="btn">Erstellen</button>
    </div>
</div>