<div style="position: absolute;top:0; right:0;">
    <div class="profile">
        <div>{{user.name}}</div>
        <img src="{{user.iconPath}}">
        <img style="cursor: pointer;" (click)="openChoie()" src="assets/img/arrowDown.svg">
    </div>
    <div *ngIf="choiceDialog" class="choiceDialog">
        <div style="cursor: pointer;" (click)="openProfile()">Profile</div>
        <div (click)="logOut()">Logout</div>
    </div>
    <app-profile-dialog  [user]="user" (newItemEvent)="setOpen($event)" (newItemEventUser)="setUser($event)"  *ngIf="profileOpen"></app-profile-dialog>
</div>
<!-- <div class="userAll">
    <div>
        <div>Eingeloggter User</div>
        <div>Name: {{user.name}}</div>
        <div>Email: {{user.email}}</div>
        <img src="{{user.iconPath}}">
    </div>
    <div *ngFor="let u of userList">
        <div>Andere User</div>
        <div>Name: {{u.name}}</div>
        <div>Email: {{u.email}}</div>
        <img src="{{u.iconPath}}">
    </div>

</div> -->