.userAll{
    position: absolute;
    width:300px;
    height:fit-content;
    left:calc(50% - 150px);
    top: calc(50px);
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    

}