<div class="edit-channel-dialog">

    <div class="dialog-header">
        <div>
            <img src="assets/icons/tag.svg">
            <span class="fs24 wei700">Entwicklerteam</span>
        </div>
        <img mat-dialog-close style="cursor: pointer;" src="assets/img/close.svg">
    </div>

    <div class="channel-sub-headlines" *ngIf="chanNamOnEdit">
        <span class="fs18 wei700">Channel-Name</span>
        <span (click)="saveNewChannelName()" class="fs18 wei600">Speichern</span>
    </div>

    <div class="new-chan-name-input-div" *ngIf="chanNamOnEdit">
        <img src="assets/icons/tag.svg">
        <input placeholder="Entwicklerteam">
    </div>

    <div class="channel-name-outer-div" *ngIf="!chanNamOnEdit">

        <div class="channel-sub-headlines">
            <span class="fs18 wei700">Channel-Name</span>
            <span (click)="editChannelName()" class="fs18 wei600">Bearbeiten</span>
        </div>

        <div>
            <img src="assets/icons/tag.svg">
            <span class="fs18">Entwicklerteam</span>
        </div>

    </div>
    <div class="channel-desc-edit-div" *ngIf="chanDescOnEdit">
        <div class="channel-sub-headlines" *ngIf="chanDescOnEdit">
            <span class="fs18 wei700">Beschreibung</span>
            <span class="fs18 wei600" (click)="saveNewChannelDesc()">Speichern</span>
        </div>
        <input class="new-chan-desc-input" *ngIf="chanDescOnEdit" placeholder="Dein Text hier">
        <div class="border-div border-div-editing" *ngIf="chanDescOnEdit"></div>
        <span class="fs18 wei700" *ngIf="chanDescOnEdit">Erstellt von</span>
        <span class="channel-creater-name" *ngIf="chanDescOnEdit">Noah Braun</span>
    </div>
    <div class="channel-description-outer-div" *ngIf="!chanDescOnEdit">

        <div class="channel-sub-headlines">
            <span class="fs18 wei700">Beschreibung</span>
            <span class="fs18 wei600" (click)="editChannelDesc()">Bearbeiten</span>
        </div>
        <span class="fs18">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos iusto numquam, exercitationem
            asperiores et rem vitae non consequuntur
        </span>
        <div class="border-div"></div>
        <span class="fs18 wei700">Erstellt von</span>
        <span class="channel-creater-name">Noah Braun</span>
    </div>

    <div class="btn-div">
        <button class="btn">Channel verlassen</button>
    </div>

</div>