.edit-channel-dialog {
    padding: 35px;
    width: 872px;
    height: 521px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mat-mdc-dialog-surface {
    border-top-left-radius: 0px !important;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 400px;
       

        img {
            width: 30px;
        }
    }
}

.new-chan-name-input-div {
    position: relative;

    img {
        position: absolute;
        left: 15px;
        top: 16px;
        width: 23px;
    }

    input {
        width: 100%;
        padding: 18px 20px;
        padding-left: 45px;
        border: 1px solid #ADB0D9;
        border-radius: 30px;
        box-sizing: border-box;
    }
}

.new-chan-desc-input {
    width: 100%;
    padding: 18px 20px;
    border: 1px solid #ADB0D9;
    border-radius: 30px;
    box-sizing: border-box;
}

.channel-name-outer-div {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid #ADB0D9;

    div:nth-of-type(2) {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.channel-sub-headlines {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:nth-of-type(2) {
        cursor: pointer;
        color: #535AF1;
        transition: all 225ms ease-in-out;

        &:hover {
            font-weight: 700;
        }
    }
}

.channel-desc-edit-div {
    display: flex;
    flex-direction: column;
    gap: 22px;
    //margin-top: 15px;
    margin: 16px 0px;
}

.border-div-editing {
    margin: 14px 25px;
}

.channel-description-outer-div {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
    box-sizing: border-box;
    border: 1px solid #ADB0D9;
}

.border-div {
    border-bottom: 1px solid #ADB0D9;
}

.channel-creater-name {
    font-size: 24px;
    color: #535AF1;
}

.btn-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}