<div class="mainFieldDirektMessage" *ngIf="exist">
    <div class="messageArea" *ngIf="talkOpen">
      <div style="margin:30px 20px 20px 20px" *ngFor="let c of this.currentTalkData.communikation,index as i">
        <div class="dateIcon">
          <div class="sendDate">{{c.date}}</div>
          <div style="width:100% ; height:2px;background-color: #ADB0D9;"></div>
        </div>
        <div style="margin:20px" *ngFor="let m of this.currentTalkData.communikation[i].messages">             
          <div class="message-div" [class.messageFlip]="getFlip(m)" [class.unHover]="m.edit">              
            <img style="width:65px;height:auto;border-radius: 100%;" src="{{getIconFromName(m.name)}}">
            <div class="message-inner-div" >
                <div class="mes-name-clock">
                    <span class="nunitoBlack">{{m.name}}</span>
                    <span style="color:#b7bade">{{m.time}} Uhr</span>
                </div>
                <diV class="message" [class.dNone]="m.edit">
                  {{m.message}}
                </diV>
                <div [class.dNone]="!m.edit">
                  <textarea class="textAreaDirekt"  [(ngModel)]="textEdit" >{{m.message}}</textarea>
                  <div class="editButtonContainer">
                    <button class="btn buttonLight" (click)="closeEdit(m)">Abbrechen</button>
                    <button class="btn butttonBlue" (click)="saveEdit(m)">Speichern</button>
                  </div>
                </div>
            </div>
            <diV class="message" [class.dNone]="m.edit">
              {{m.message}}
            </diV>
            <div [class.dNone]="!m.edit">
              <textarea class="textAreaDirekt" [(ngModel)]="textEdit">{{m.message}}</textarea>
              <div class="editButtonContainer">
                <button class="btn buttonLight" (click)="closeEdit(m)">Abbrechen</button>
                <button class="btn butttonBlue" (click)="saveEdit(m)">Speichern</button>
              </div>
            </div>
          </div>
          <div class="popUpMessageContainer" [class.popUpFlipContainer]="getFlip(m)">
            <div class="popUpMessage" [class.popUpFlip]="getFlip(m)">
              <img class="popUpIcons" src="assets/img/popUpHaken.svg">
              <img class="popUpIcons" src="assets/img/popUpClaps.svg">
              <img class="popUpIcons pad0" src="assets/icons/add-reaction.svg">
              <img class="popUpIcons" src="assets/img/comment.svg">
              <img class="popUpIcons" [class.dNone]="!getFlip(m)" (click)="openEditPopUp()"
                src="assets/img/more_vert.svg">
            </div>
            <div class="editMessage" [class.show]="openEditDialog" (click)="openEditWindow(m)">
              <div class="editMessageT">Nachricht bearbeiten</div>
            </div>
          </div>
        </div>
        <!-- message-div -->

      </div>
    </div>
  </div>
</div>
<div *ngIf="!exist" class="chatIconButtom">
  <img style="width:65px;height:auto;border-radius: 100%;" src="{{otherChatUser.iconPath}}">
  <div class="nunitoBlack">{{otherChatUser.name}}</div>
</div>
<div *ngIf="!exist && talkOpen " class="nunitoBlack fs20 wei400" style="padding-left: 45px; color:#686868">Diese
  Unterhaltung findet nur
  zwischen <span style="color:#535AF1;">@{{otherChatUser.name}}</span> und dir statt.
</div>
<div *ngIf="talkOpen" class="textareaDirektMessage">
  <textarea class="textAreaDirekt" [(ngModel)]="text" placeholder="Nachricht an {{otherChatUser.name}}"></textarea>
  <img class="sendArrow" (click)="saveMessage()" src="assets/img/sendArrow.svg">
  <div class="iconContainerTextArea">
    <img class="iconsTextArea" src="assets/img/add.svg">
    <div style="width:2px;background-color: #ADB0D9 ;"></div>
    <img class="iconsTextArea" src="assets/img/smile.svg">
    <img class="iconsTextArea" src="assets/img/alternate_email.svg">

  </div>
</div>