.header {
    width: 100%;
    padding: 25px 50px;
}

.containerAll {
    position: relative;
    background-color: #ECEEFE;
    width: 100vw;
    height: 100vh;
    display: flex;
}



// @media screen and (max-width:400px) {
//     .containerAll {       
//         // min-height: 900px;     
//         height:fit-content;      

//     }
// }