.outer-div {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    padding: 25px 50px;
}

.containerAll {
    position: relative;
    background-color: #ECEEFE;
    width: 100vw;
    height: 100vh;
}