<div class="containerAll">
  <!-- <app-header></app-header> -->
  <router-outlet></router-outlet>
</div>

<!-- Image Preload Div -->
<div style="display: none;">
  <img src="assets/icons/account-circle-hover.svg">
  <img src="assets/icons/add-circle-hover.svg">
  <img src="assets/icons/add-hover.svg">
  <img src="assets/icons/add-people-hover.svg">
  <img src="assets/icons/add-reaction-hover.svg">
  <img src="assets/icons/arrow-drop-down-hover.svg">
  <img src="assets/icons/close-sidenav-hover.svg">
  <img src="assets/icons/edit-pencil-hover.svg">
  <img src="assets/icons/edit-pencil-square-hover.svg">
  <img src="assets/icons/new-mes-mobile-click.svg">
  <img src="assets/icons/open-sidenav-hover.svg">
  <img src="assets/icons/search-focus.svg">
  <img src="assets/icons/tag-click.svg">
  <img src="assets/icons/tag-hover.svg">
  <img src="assets/icons/workspaces-hover.svg">
  <img src="assets/icons/logout-hover.svg">
  <img src="assets/img/arrow-back-hover.svg">
  <img src="assets/img/answer-icon-hover.svg">
  <img src="assets/img/arrow-down-hover.svg">
  <img src="assets/img/close-hover.svg">
  <img src="assets/img/email-icon-hover.svg">
  <img src="assets/img/plus-icon-hover.svg">
  <img src="assets/img/smiley-icon-hover.svg">
</div>