<div class="logoContainer">
   <img src="assets/img/logo.svg">
   <img class="nameLogo" src="assets/img/LogoName.svg">
</div>
<div class="heightGiver"></div>
<div class="forgetInDialog" [formGroup]="registerForm">
   <a routerLink="/login"><img class="arrowBack" src="assets/img/arrow-back.svg"></a>
   <h1 class="nunito headline">Passwort zurücksetzen</h1>
   <div class="input">
      <img src="assets/img/lock.svg">
      <input type="password" formControlName="password" placeholder="neues Passwort">

      <span *ngIf="registerForm.controls['password'].errors?.['minlength']">Das Passwort muss min. 6 Zeichen lang
         sein.</span>
      <span *ngIf="getValid()&&registerForm.controls['password'].touched">Passwörter stimmen nicht überein!</span>
   </div>
   <div class="input">
      <img src="assets/img/lock.svg">
      <input type="password" formControlName="passwordConfirm" placeholder="Neues Kennwort bestätigen">
      <span *ngIf="getValid()&&registerForm.controls['password'].touched">Passwörter stimmen nicht überein!</span>
   </div>
   <div class="weiterContainer">
      <button [disabled]="getValid()" (click)="handleResetPassword()" class="btn weiter">Passwort ändern</button>
   </div>

   <div [class.dNone]="hide" [class.moveUp]="move" class="popUp3">Passwort geändert!</div>
</div>
<div class="impData">
   <div>
      <a routerLink="/imprint" target="_blank">Impressum</a>
   </div>
   <div>
      <a href="/datenschutz">Datenschutz</a>
   </div>
</div>