.forgetInDialog {
    width: 606px;
    height: 470px;
    position: absolute;
    left: calc(50% - 303px);
    top: calc(50% - 235px);
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
    box-sizing: border-box;
}

.input {
    position: relative;
    width: 500px;
    height: 60px;
    background-color: #ECEEFE;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 18px 30px 18px 30px;
    box-sizing: border-box;
    border: 1px solid transparent;

    input {
        border: none;
        background-color: #ECEEFE;
        font-family: 'Nunito';
        font-size: 18px;

        &:focus {
            outline: none;
        }
    }

    span {
        position: absolute;
        bottom: -24px;
        left: 0px;
        color: #ED1E79;
        position: absolute;
        bottom: -24px;
        left: 0px;
        color: #ED1E79;
    }

    &:hover {
        border-color: #686868;
    }

    &:focus-within {
        border-color: #535AF1;
    }
}

.headline {
    color: #444DF2;
    font-size: 46px;
    font-weight: 700;
}

.loginDis {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

.willSend {
    color: var(--Text-gray, #686868);
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

.weiterContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.popUp3 {
    color: var(--White, #FFF);
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #444DF2;
    padding: 50px;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    width: fit-content;
    transform: translateY(-100px);
    animation: transform;
    display: flex;
    align-items: center;
    gap: 28px;
}

.moveUp {
    animation-name: move;
    animation-duration: 1s;
    transform: translateY(-300px);
}

@keyframes move {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(-300px);
    }
}

// .logoContainerStatic {
//     position: absolute;
//     display: flex;
//     align-items: center;
//     left: calc(50% - 112px);
//     top: 92px;
//     width: 224px;
//     justify-content: flex-start;
//     z-index: 1;

//     div {
//         display: flex;
//         align-items: center;
//         z-index: 1;
//         padding: 20px;
//     }
// }

.logoContainer {
    position: absolute;
    display: flex;
    height: 70px;
    left: 75px;
    top: 75px;
    gap: 16px;
}

.heightGiver {
    width: 100vw;
    height: 900px;
}

@media screen and (max-width:650px) {

    .popUp3 {
        font-size: 18px;
        padding: 20px;
    }

    .logoContainerStatic {
        top: 60px;
    }


    .heightGiver {
        height: 700px;
    }

    .headline {
        font-size: 32px;
    }

    .forgetInDialog {
        width: 398px;
        height: fit-content;
        left: calc(50% - 196px);
        top: 150px;
        padding: 35px 26px 35px 26px;
        gap: 20px;
    }

    .impData {
        bottom: 100px;
    }

    .input {
        width: 358px;
        height: 50px;
        padding: 13px 32px 13px 30px;

    }
}

.arrowBack {
    top: 25px
}

@media screen and (max-width:400px) {
    .headline {
        font-size: 18px;
    }

    .forgetInDialog {
        width: 320px;
        left: calc(50% - 160px);
        top: 150px;
    }

    .input {
        width: 300px;
    }
}