.main-page {
    display: flex;
    width: calc(100vw - 50px);
    height: calc(100vh - 140px);
    margin-top: 115px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
   }

.side-menu {
    border-radius: 30px;
}

.main-content-div {
    width: 100%;
    background-color: white;
    margin: 0px 20px;
    border-radius: 30px;
}