<div class="main-page">
  <app-side-menu (newItemEvent)="setOpen($event)" (newItemEventUser)="setOtherUser($event)" [user]="user"
    [userList]="userList" class="side-menu"></app-side-menu>
  <div class="main-content-div">   
      <div *ngIf="talkOpen" class="direktMesHeader">
      <div style="position: relative;width:70px;">
        <img src="{{otherChatUser.iconPath}}">
        <div [class.greenDot]="otherChatUser.getAktive()" class="stateDot"></div>
      </div>
      <div class="nunitoBlack">{{otherChatUser.name}}</div>
    </div>
    <div style="padding-bottom: 30px;">
      <app-private-message [_setUser]="setUser"  (newItemEventUserList)="setUserList($event)" (newItemEventLoggedUser)="setLoggedInUser($event)"></app-private-message>
    
    </div>
  </div>
  <app-side-menu-thread *ngIf="!openChat" class="side-menu"></app-side-menu-thread>
  <app-main-dialog-profil [user]="user"></app-main-dialog-profil>
</div>