.main-page {
    display: flex;
    width: calc(100vw - 40px);
    // width: fit-content;
    height: calc(100vh - 140px);
    margin-top: 115px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.side-menu {
    border-radius: 30px;
}

.main-content-div {
    width: 100%;
    background-color: white;
    //margin-right: 20px; war zuviel abstand zur seite wenn thread geschlossen
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stateDot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    background-color: #ADB0D9;
    right: 5px;
    bottom: 7px;
    border: 2px white solid;
}

.greenDot {
    background-color: #92C83E;
}

.direktMesHeader {
    display: flex;
    gap: 10px;
    align-items: center;
    //width: 100%; verursacht overflow wenn thread geschlossen
    height: 60px;
    margin: 32px 45px 20px 45px;
    box-sizing: border-box;
}