<app-header [sideMenuHidden]="this.sideMenuHidden" [screenWidth]="this.screenWidth" [threadList]="this.threadList"
  [user]="user" [userList]="userList" [talkList]="talkList" (callOpenChannel)="callOpenChan($event)"
  (callOpenTalk)="openMessage($event)" (toggleSideMenu)="toggleSideMenu($event)"></app-header>

<div class="main-page" >

  <app-side-menu (newItemEvent)="setOpen($event)" (newItemEventUser)="setOtherUser($event)" (isOpen)="setNewMessage($event)"
    (newItemEventChanel)="setChannelNumber($event)" (newItemEventMenuHidden)="setSideMenuHidden($event)" [user]="user"
    [userList]="userList" [threadList]="threadList" class="side-menu" [screenWidth]="this.screenWidth"></app-side-menu>

  <div class="main-content-div" *ngIf="setMobileView()">

    <app-channel-window class="channel-window" *ngIf="showChannel()" [threadList]="this.threadList" [number]="this.number"
      [user]="user" [userList]="userList" (newItemEventChannel)="setThreadC($event)"
      [sideMenuHidden]="this.sideMenuHidden" [screenWidth]="this.screenWidth"
      [openChat]="this.openChat"></app-channel-window>

    <app-private-message class="privateMessage" *ngIf="showPrivateMessage() " [user]="user"
      (newItemEventLoggedUser)="setLoggedInUser($event)" [talkList]="talkList"
      [userList]="userList"></app-private-message>

      <app-send-new-message style="height:100%" [threadList]="this.threadList"  [talkList]="talkList"
      [user]="user" [userList]="userList"  (callOpenChannel)="callOpenChan($event)" (isOpen)="setNewMessage($event)" (areaText)="setAreaText($event)"
      (callOpenTalk)="openMessage($event)" *ngIf="newMessOpen" ></app-send-new-message>

  </div>

  <app-side-menu-thread *ngIf="openChat" class="side-menu" [threadList]="threadList" [user]="user" [threadC]="threadC"
    [userList]="userList" (newSetOpen)="setOpenValue($event)"
    (newItemEventOpenChat)="setOpenValue($event)"></app-side-menu-thread>
  <app-main-dialog-profil [user]="user"></app-main-dialog-profil>

</div>