
.headerContainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:100vw;
    box-sizing: border-box;
    padding: 75px;
    }  

.logoContainer{
   height:70px;
   display: flex;
   align-items: center;
   gap:16px;  
  
}

.loginHeaderRight{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
}


.makeAccount{
    font-family: 'Figtree'; 
    size: 18px;  
    font-weight: 400;
    cursor: pointer;
    color: #797EF3;
    text-decoration: none;
    padding: 10px;
}