<div class="imprint-div">
    <div>
        <img routerLink="/login" src="assets/img/arrow-back.svg">
    </div>
    <h1>Impressum</h1>
    <div>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus cumque iste nostrum voluptas
            harum. Rerum doloremque laborum ipsa voluptatum dolores officiis accusamus, natus odit molestiae
            voluptate aut esse mollitia itaque?</span>
    </div>
    <h2>Contact</h2>
    <span>Unsere Kontaktdaten</span>
</div>