<app-header *ngIf="!blendOutHeader()" [screenWidth]="screenWidth"></app-header>

<div class="intro">
   <div class="logo-outer-div">
      <div class="logoContainer">
         <div>
            <img class="shrink-logo" src="assets/img/logo.svg">
         </div>
         <span class="logo-name">DABubble</span>
      </div>
   </div>
</div>
<!-- <div style="width:100vw;height:900px;"></div> -->
<div class="logoContainerStatic" *ngIf="blendOutHeader()">
   <img src="assets/img/logo.svg">
   <img src="assets/img/LogoName.svg">
</div>

<div class="logInDialog" [formGroup]="registerForm">
   <h1 class="nunito headline">Anmeldung</h1>
   <p class="nunito loginDis">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

   <div class="inputWind">
      <img src="assets/img/mail.svg">
      <input formControlName="email" placeholder="beispielname@email.com" title="email" id="mail">
      <span *ngIf="registerForm.controls['email'].errors?.['pattern']">*Diese E-Mail-Adresse ist leider ungültig.</span>
      <span style="color:red" *ngIf="errorMes">Passwort oder Email sind falsch!</span>
   </div>
   <div class="inputWind">
      <img src="assets/img/lock.svg">
      <input formControlName="password" [type]="hide ? 'password' :'text'" placeholder="Password" title="password"
         id="pw">
      <span *ngIf="registerForm.controls['password'].errors?.['minlength']">Das Passwort muss min. 6 Zeichen lang
         sein.</span>
      <span style="color:red" *ngIf="errorMes">Passwort oder Email sind falsch!</span>
   </div>
   <a routerLink="/forget" class="pwForget">Passwort vergessen?</a>

   <div style="position: relative;">
      <div class="or">ODER</div>
      <svg xmlns="http://www.w3.org/2000/svg" width="500" height="2" viewBox="0 0 500 2" fill="none"
         *ngIf="!blendOutHeader()">
         <path d="M500 1H0" stroke="#ADB0D9" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="165" height="2" viewBox="0 0 500 2" fill="none"
         *ngIf="blendOutHeader()">
         <path d="M500 1H0" stroke="#ADB0D9" />
      </svg>
   </div>
   <button (click)="logInWithGoogle()" class="googleLoginButt">
      <img src="assets/img/google-without-bg.svg">
      Anmeldung mit Google
   </button>
   <div style="display: flex; gap:30px;">

      <button class="btn buttonLight" [disabled]="registerForm.invalid" (click)=" login()">Anmelden</button>
      <button class="btn buttonBlue" (click)="loginAsGuest()">Gäste-Login</button>
   </div>
</div>

<div class="impData" *ngIf="!blendOutHeader()">
   <div>
      <a routerLink="/imprint" target="_blank">Impressum</a>
   </div>
   <div>
      <a href="/data" target="_blank">Datenschutz</a>
   </div>
</div>

<div [class.dNone]="route.url !='/login'" class="loginHeaderbottom" *ngIf="blendOutHeader()">
   <div class="nunitoBlack fs18">Neu bei DABubble?</div>
   <a routerLink="/signup" class="makeAccount">Konto erstellen</a>
</div>

<!-- Image Preload Div -->
<div style="display: none;">
   <img src="assets/icons/account-circle-hover.svg">
   <img src="assets/icons/add-circle-hover.svg">
   <img src="assets/icons/add-hover.svg">
   <img src="assets/icons/add-people-hover.svg">
   <img src="assets/icons/add-reaction-hover.svg">
   <img src="assets/icons/arrow-drop-down-hover.svg">
   <img src="assets/icons/close-sidenav-hover.svg">
   <img src="assets/icons/edit-pencil-hover.svg">
   <img src="assets/icons/edit-pencil-square-hover.svg">
   <img src="assets/icons/new-mes-mobile-click.svg">
   <img src="assets/icons/open-sidenav-hover.svg">
   <img src="assets/icons/search-focus.svg">
   <img src="assets/icons/tag-click.svg">
   <img src="assets/icons/tag-hover.svg">
   <img src="assets/icons/workspaces-hover.svg">
   <img src="assets/icons/logout-hover.svg">
   <img src="assets/img/arrow-back-hover.svg">
   <img src="assets/img/answer-icon-hover.svg">
   <img src="assets/img/arrow-down-hover.svg">
   <img src="assets/img/close-hover.svg">
   <img src="assets/img/email-icon-hover.svg">
   <img src="assets/img/plus-icon-hover.svg">
   <img src="assets/img/smiley-icon-hover.svg">
   <img src="assets/img/ch4.svg">
</div>