<div class="logoContainerStatic">
   <img src="assets/img/logo.svg">
   <img src="assets/img/LogoName.svg">
</div>

<!-- <div style="width:100vw;height:900px;"></div> -->
<div class="forgetInDialog" [formGroup]="registerForm">
   <a routerLink="/login"><img class="arrowBack" src="assets/img/arrow-back.svg"></a>
   <h1 class="nunito headline">Passwort zurücksetzen</h1>
   <p class="nunito loginDis">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>


   <div class="input">
      <img src="assets/img/mail.svg">
      <input formControlName="email" placeholder="beispielname@email.com">
      <span *ngIf="registerForm.controls['email'].errors?.['email']">*Diese
         E-Mail-Adresse ist leider ungültig.</span>
   </div>
   <div class="willSend">
      Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
   </div>
   <div class="weiterContainer">
      <button [disabled]="registerForm.invalid" (click)="weiter()" class="btn weiter">Weiter</button>
   </div>
   <div [class.dNone]="hide" [class.moveUp]="move" class="popUp3">
      <img src="assets/img/send.svg">E-Mail gesendet!
   </div>
</div>
<div class="impData posImp">
   <div>
      <a routerLink="/imprint" target="_blank">Impressum</a>
   </div>
   <div>
      <a href="">Datenschutz</a>
   </div>
</div>