.forgetInDialog {
    width: 606px;
    //height: 470px;
    position: absolute;
    left: calc(50% - 303px);
    top: calc(50% - 235px);
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
    box-sizing: border-box;
}

.input {
    position: relative;
    width: 500px;
    height: 60px;
    background-color: #ECEEFE;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 4px 15px;
    box-sizing: border-box;
    border: 1px solid transparent;

    input {
        border: none;
        background-color: #ECEEFE;
        font-family: 'Nunito';
        font-size: 18px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    span {
        position: absolute;
        bottom: -24px;
        left: 0px;
        color: #ED1E79;
        position: absolute;
        bottom: -24px;
        left: 0px;
        color: #ED1E79;
    }

    &:hover {
        border-color: #686868;
    }

    &:focus-within {
        border-color: #535AF1;
    }
}

.arrowBack {
    top: 30px;
}

.headline {
    color: #444DF2;
    font-size: 46px;
    font-weight: 700;
}

.loginDis {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

.willSend {
    color: var(--Text-gray, #686868);
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

.weiterContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.popUp3 {
    color: white;
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #444DF2;
    padding: 50px;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    width: fit-content;
    transform: translateY(-100px);
    animation: transform;
    display: flex;
    align-items: center;
    gap: 28px;
}

.moveUp {
    animation-name: move;
    animation-duration: 1s;
    transform: translateY(-300px);
}

@keyframes move {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(-300px);
    }
}

.logoContainerStatic {
    position: absolute;
    display: flex;
    align-items: center;
    top: 75px;
    left: 75px;
    width: 224px;
    justify-content: flex-start;
    z-index: 1;
    gap: 16px;

    div {
        display: flex;
        align-items: center;
        z-index: 1;
        padding: 20px;
    }
}

@media (max-width:836px) {

    .popUp3 {
        font-size: 26px;
        padding: 20px;
        gap: 20px;
    }

    .forgetInDialog {
        width: 398px;
        height: fit-content;
        left: calc(50% - 196px);
        top: calc(50% - 214px);
        padding: 35px 26px 35px 26px;
        gap: 20px;
    }

    .headline {
        font-size: 26px;
        text-align: center;
    }

    .input {
        width: 100%;
        height: 50px;
        // padding: 13px 20px;
        // gap: 10px;
    }

    .arrowBack {
        top: 18px;
        left: 18px;
    }

    .logoContainerStatic {
        left: calc(50% - 112px);
        top: 100px;

        img:nth-of-type(1) {
            height: 55px;
        }
    }
}

@media (max-width:430px) {
    .willSend {
        font-size: 18px;
    }

    .forgetInDialog {
        width: 320px;
        height: fit-content;
        left: calc(50% - 160px);
        top: calc(50% - 238px);
    }

    .input {
        width: 300px;
        // padding: 13px 0px;
        // padding-left: 18px;
        // gap: 10px
    }

    .btn {
        padding: 10px 10px;
    }

    .logoContainerStatic {
        top: 15px;
    }

    .impData {
        bottom: 15px;
        gap: 10px
    }
}

@media (max-height:930px) {
    .logoContainerStatic {
        top: 15px;
    }

    .impData {
        bottom: 15px;
        gap: 10px
    }
}