.mat-drawer-div {
    background-color: #eceefe;

    height: 900px;
    width: 366px;
}

.sidenav {
    background-color: white;
    display: flex;
    height: 900px;
    width: 366px;

}

.sidenav-content {
    position: relative;
    position: absolute;
    left: 0px;
    top: 44%;
    z-index: 99;

    button {
        cursor: pointer;
        background-color: white;
        width: 60px;
        height: 347px;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: -4px -4px 7px 0px rgba(0, 0, 0, 0.2);

        span {
            font-family: 'Nunito';
            font-weight: 500;
            font-size: 20px;
        }
    }

    img {
        position: absolute;
        top: 20px;
        left: 14px;
    }

}