.mat-drawer-div {
    background-color: #eceefe;
    height: 900px;
    width: 380px;
}

.sidenav {
    background-color: white;
    display: flex;
    height: 900px;
    width: 370px;
    left: 20px;
    border-radius: 30px;
    padding: 32px 30px;
}

.sidenav-content {
    position: relative;
    position: absolute;
    left: 0px;
    top: 44%;
    z-index: 9;

    button {
        cursor: pointer;
        background-color: white;
        width: 60px;
        height: 347px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);


    }

    span {
        pointer-events: none;
        cursor: pointer;
        position: absolute;
        top: 65px;
        left: 17px;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 20px;
        color: black;
    }



    &:hover {
        span {
            transition: all 225ms ease-in-out;
            color: #7e83f5;
            letter-spacing: 0.5px;
        }

        .open-sidenav {
            content: url("/assets/icons/open-sidenav-hover.svg");
        }

        .close-sidenav {
            content: url("/assets/icons/close-sidenav-hover.svg");
        }
    }
}

.open-sidenav {
    position: absolute;
    top: 20px;
    left: 14px;
}

.close-sidenav {
    position: absolute;
    top: 20px;
    left: 14px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.workspace-name {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
}

.edit-pencil {

    &:hover {
        content: url('/assets/icons/edit-pencil-hover.svg');
    }
}