.mat-expansion-panel-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Nunito', sans-serif !important;
    letter-spacing: .0178571429em;
}

.mat-drawer-div {
    background-color: #eceefe;
    height: calc(100vh - 195px);
    width: 400px;
}

.sidenav {
    display: flex;
    height: 100%;
    width: 370px;
    left: 20px;
    border-radius: 30px;
    padding: 32px 30px;
}


.sidenav-content {
    position: relative;
    position: absolute;
    left: 0px;
    top: 44%;
    z-index: 1;

    button {
        cursor: pointer;
        background-color: white;
        width: 60px;
        height: 347px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
        border: none;
    }

    span {
        transition: all 225ms ease-in-out;
        pointer-events: none;
        cursor: pointer;
        position: absolute;
        top: 65px;
        left: 17px;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 20px;
        color: black;
    }

    &:hover {
        span {
            transition: all 225ms ease-in-out;
            color: #7e83f5;
            letter-spacing: 0.5px;
        }

        .open-sidenav {
            content: url("/assets/icons/open-sidenav-hover.svg");
        }

        .close-sidenav {
            content: url("/assets/icons/close-sidenav-hover.svg");
        }
    }
}

.open-sidenav {
    position: absolute;
    top: 20px;
    left: 14px;
}

.close-sidenav {
    position: absolute;
    top: 20px;
    left: 14px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workspace-name {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
}

.edit-pencil {
    cursor: pointer;

    &:hover {
        content: url('/assets/icons/edit-pencil-square-hover.svg');
    }

    &:active {
        content: url('/assets/icons/edit-pencil-square-click.svg');
    }
}

.accordion-outer-div {
    margin-top: 25px;
    position: relative;
}

.mar-top {
    margin-top: 25px;
}

.panel-sp {
    &:hover {
        background-color: white !important;
    }
}

.panel-header {
    cursor: default;
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        width: 121px;
        justify-content: space-between;
    }
}

.header-left {
    cursor: pointer;

    &:hover {
        .arrow-drop-down {
            content: url('/assets/icons/arrow-drop-down-hover.svg');
        }

        .panel-headline {
            transition: all 225ms ease-in-out;
            color: #7e83f5;
        }

        .workspaces-icon {
            content: url('/assets/icons/workspaces-hover.svg');
        }

        .account-icon {
            content: url('/assets/icons/account-circle-hover.svg');
        }
    }
}

.arrow-drop-down {
    transform: rotate(-90deg);
}

.rotate {
    transform: rotate(0deg);
}

.workspaces-icon {
    margin-left: 20px;
    margin-right: 10px;
}

.panel-headline {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
}

.add-icon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    z-index: 1;

    &:hover {
        content: url('/assets/icons/add-hover.svg');
    }

    &:active {
        content: url('/assets/icons/add.svg');
    }
}

.created-channel {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 225ms ease-in-out;
    padding: 10px 0px;
    margin: 10px 0px;

    img {
        margin-left: 20px;
        margin-right: 10px;
    }

    span {
        font-size: 18px;
    }

    &:hover {
        background-color: #eceefe;

        img {
            content: url('/assets/icons/tag-hover.svg');
        }
    }

    &:active {
        span {
            transition: all 225ms ease-in-out;
            color: #7e83f5;
            font-weight: 700;
        }

        img {
            content: url('/assets/icons/tag-click.svg');
        }
    }
}

.add-ch-div {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    transition: all 225ms ease-in-out;

    span {
        font-family: "Nunito", sans-serif;
        font-size: 18px;
    }

    &:hover {
        img {
            content: url('/assets/icons/add-circle-hover.svg');
        }

        span {
            color: #7e83f5;
        }
    }

    &:active {
        img {
            content: url('/assets/icons/add-circle-click.svg');
        }

        span {
            color: black;
        }
    }
}

.add-circle {
    margin-left: 20px;
    margin-right: 10px;
}

.account-icon {
    margin-left: 20px;
    margin-right: 10px;
}

.contact-div {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: all 225ms ease-in-out;
    margin: 10px 0px;

    img {
        width: 50px;
        margin-left: 15px;
        margin-right: 10px;
    }

    span {
        font-size: 18px;
    }

    &:hover {
        background-color: #eceefe;
    }

    &:active {
        span {
            transition: all 225ms ease-in-out;
            color: #7e83f5;
            font-weight: 700;
        }
    }
}