.profileDialog {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    left: calc(50% - 250px);
    bottom: calc(50% - 312px);
    display: flex;
    position: absolute;
    padding: 45px 40px 45px 40px;
    box-sizing: border-box;
    border-radius: 30px;
    border-top-right-radius: 0;
    background-color: white;
    gap: 38px;
}

.imgProfile {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.firstLine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    img {
        cursor: pointer;

        &:hover {
            content: url('/angular-projects/dabubble/assets/img/close-hover.svg');
        }
    }
}

.cross {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.edit {
    text-decoration: none;
    color: var(--Purple-3, #535AF1);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;

}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #92C83E;
}


.state {
    color: var(--online-green, #92C83E);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.styleState {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.styleMail {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    img {
        filter: contrast(2);
    }
}

.userMail {
    color: #1381FF;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 18px;
}

.editLabel {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
}

.editInputField {
    border: none;

    &:focus {
        outline: none;
    }
}

.editInput {
    padding: 15px;
    width: 100%;
    border: #ADB0D9 1px solid;
    border-radius: 30px;
    box-sizing: border-box;
}

.cancel {
    color: #444DF2;
    background-color: white;
    border: 1px solid;

}

.buttonContainer {
    display: flex;
    gap: 32px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.dialogGrey {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

.writeMessage {
    cursor: pointer;

    &:hover {
        filter: invert(0.1);
    }
}

@media (max-width:535px) {
    .profileDialog {
        width: 400px;
        left: calc(50% - 200px);
    }
}

@media (max-width:435px) {
    .profileDialog {
        width: 300px;
        left: calc(50% - 150px);
    }
}